*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}
body{
    /* min-width: 1600px; */

}
header{
    background: url(images/bg-pattern-intro.svg) no-repeat center center/cover, linear-gradient(90deg, #ff8a70 10%, #ff4457 44%);
    border-radius: 0 0 0 120px;
    background-size: 2936px;
    background-position-x: -410px;
    max-height: 600px;
}
nav{
    display: flex;
    padding: 24px 140px;
    padding-bottom: 20px;
    min-width: 1239px;
    justify-content: space-between;
    background: #ff634782 50%;
}
.intro{
    text-align: center;
    padding: 169px;
}
.left{
    display: flex;
    align-items: center;
    min-width: 500px;
    justify-content: space-between;
}
.left .upper{
    display: flex;
    list-style: none;
    justify-content: space-between;
    min-width: 300px;
}
.left ul li a{
    color: white;
    text-decoration: none;
}
.left ul li a:hover{
    color: white;
    text-decoration: underline;
}
.middle{
    border: 2px solid green;
}
.right{
    display: flex;
    align-items: center;
    min-width: 267px;
    justify-content: space-between;
}
.right button{
    padding: 18px 41px;
    border-radius: 50px;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}
.login{
    background: none;
    border: 2px solid transparent;
    color: white;
    font-weight: 800;
}
.signup{
    border: 2px solid white;
    color: tomato;
    font-weight: 800;
    background-color: white;
}
.signup:hover{
    background: none;
    color: white;
}
.login:hover{
    border: 2px solid white;
    color: white;
}
.dropdownmenu{
    display: none;
    background-color: white;
    list-style: none;
    padding: 10px 33px;
    text-align: center;
    border-radius: 0.2em;
    position: absolute;
}

.left ul li:hover .dropdownmenu{
    display: block;
}
.dropdownmenu li{
    margin: 9px;
}
.dropdownmenu li:hover{
    font-weight: 300;
}
.intro h1 {
    font-size: 71px;
    color: white;
}
.intro p{
    color: white;
    font-size: 30px;
    font-weight: lighter;
}
.buttons{
    padding-top: 62px;
    display: flex;
    justify-content: center;
}
.buttons button{
    padding: 19px 49px;
    border: none;
    background-color: white;
    color: #ff6347;
    font-weight: bolder;
    font-size: 20px;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
    border: 2px solid white;
}
.start{
    border-radius: 50px 0 0 50px;

}
.learn{
    border-radius: 0 50px 50px 0;
}
.buttons button:hover{
    background: none;
    color: white;
}
.first{
    padding: 131px 0;
    min-height: 826px;
    background: url(images/illustration-editor-desktop.svg) no-repeat center;
    background-position: 830px 160px;
    background-size: 938px;
}
.first h1{
    text-align: center;
    font-size: 40px;
}
.leftparas{
    float: left;
    max-width: 656px;
    padding: 80px;
    padding-top: 200px;
    padding-left: 73px;
    font-size: 20px;
}
.firstpara, .secondpara{
    padding: 20px;
}
.firstpara h3, .secondpara h3{
    padding: 17px 0;
    font-size: 33px;
}
.second{
    background: url(images/bg-pattern-circles.svg) no-repeat center, hsl(240, 10%, 16%);
    background-position: -196px -463px;
    background-size: 980px;
    max-height: 421px;
    display: flex;
    border-radius: 0 151px 0 151px;

}
.phones{
    min-width: 50%;
    position: relative;
    bottom: 59px;
    padding-left: 117px;
}
.para{
    box-sizing: border-box;
    padding: 113px 96px 74px 36px;
    position: relative;
    right: 118px;
    font-size: 18px;
    color: white;
}
.para h3{
    font-size: 30px;
    padding-bottom: 20px;
}
.para p{
    font-weight: 100;
}

.three{
    padding: 288px 50px;
    min-height: 220px;
    margin: 165px 0;
    background: url(images/illustration-laptop-desktop.svg) no-repeat center;
    background-position: -274px 10px;
    
}
.s3paras{
    float: right;
    max-width: 500px;
    position: relative;
    right: 192px;
}
.s3paras p{
    font-weight: 300;
}
.s3paras h3{
    padding-bottom: 10px;
    font-size: 27px;
    color: hsl(208, 49%, 24%);
}
.s3paras div{
    padding-bottom: 15px;
}
.footer {
    background: hsl(240, 10%, 16%);
    border-radius: 0 100px 0 0;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px;
    list-style: none;
}
.footer div ul{
    list-style: none;
    line-height: 34px;
    font-weight: 300;
}
.footer div h5{
    font-size: 30px;
}
.footer div ul li{
    font-weight: 300;
}
.loginpage{
    position: fixed;
    top: 0;
}
form {
    background-color: hsla(19, 50%, 34%, 0.829);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.loginpage p{
    padding-top: 20px;
}
.inputs {
    background-color: white;
    border-radius: 10px;
    position: absolute;
    /* background: radial-gradient(); */
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 50px;
    box-shadow: 4px 7px 14px 0px rgb(255 255 255 / 94%);
}

input {
    display: block;
    border: none;
    border-bottom: 2px solid orange;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 20px;
    width: 300px;
    outline: none;

}
.dnone{
    display: none;
}
a[target='_blank'] {
    text-decoration: none;
    background-color: #4285F4;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #4285F4;
    margin: 10px;
    color: white;
    font-size: 20px;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}

a[target='_blank']:hover {
    background: none;
    color: #4285F4;
}

.login2 {
    padding: 10px 20px;
    border: 2px solid tomato;
    border-radius: 50px;
    background-color: tomato;
    color: white;
    font-size: 20px;
    display: block;
    margin: 25px auto;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}

.login2:hover {
    border: 2px solid tomato;
    background: none;
    color: tomato;
}

.loginpage h1 {
    color: salmon;
    font-weight: 800;
    transform: scale(1.5, 1);
    
}

.close {
    display: block;
    position: absolute;
    right: 31px;
    border: none;
    top: 28px;
    background: none;
    
}
